.add-spell-form-container {
  margin-bottom: 1rem;
}

.add-spell-form-label {
  display: flex;
}

.add-spell-form-text-input {
  margin-left: 0.5rem;
  padding: 0.5rem;
}

.add-spell-form-text-box-input {
  
}