// removes the up/down click buttons on numper inputs (necessary for styling of the level selector)

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

// ------------------------------

.level-selector-chip-sequence-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid rgb(204 204 204);
  border-radius: 10px;
  padding: 2px;
  gap: 2px;
}

.level-selector-row-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.level-selector-input-wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

// text input
.level-selector-input-field {
  width: 30px;
  text-align: center;
  height: 30px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 6px;
}

// enter button
.level-selector-input-button {
  border: 1px solid rgb(165 165 165);
  background-color: rgb(225, 225, 225);
  border-radius: 25px;
  height: 35px;
  width: 35px;
}

// plus and minus buttons
.level-selector-button {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 25px;
  height: 40px;
  width: 40px;
}

.level-selector-options-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.level-selector-options-button {
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid gray;
  background: #d9edf7;
  font-weight: bold;
  user-select: none;
}

// defined in select-box.scss:
// - selection-box-selected-chip-body
// - selection-box-selected-chip-x
// - selection-box-selected-chips-wrapper
// - selection-box-reset-chips-button
